* {
  margin: 0;
  padding: 0;
  outline: none;
}

canvas {
  vertical-align: top;
  background-color: white;
}

.layer {
  position: absolute;
}

.margins {
  margin: 25px;
}

.right {
  right: 0px;
}

.fright {
  float: right;
}

.vmiddle {
  vertical-align: middle;
}

button {
  padding: 10px;
  background: none;
  border: solid 2px;
  border-color: #333;
  color: #333;
}

button:hover {
  border-color: #df3;
  color: #df3;
}

button:active {
  border-color: #df3;
  color: #df3;
}

.S {
  font-size: 12px;
}

.M {
  font-size: 22px;
}

.L {
  font-size: 32px;
}
